<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuvette</title>
    <link rel="stylesheet" href="Style1.css">
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <img src="Assets\cuvette.png" alt="logo" />
        </div>
        <div class="internship-tag">
            <span id="intern1">Top Jobs/Internships</span>
        </div>
        <div class="empl">
            <span id="emp1"> Are you an Employer ? </span>
        </div>
        <div class="register">
            <button id="btn1" onclick="clicker()">Log in </button>
            <button id="btn2" onclick="clicker()">Sign up</button>
        </div>
      </div>
    </header>
    <div class="strip1">
        <p>🔉 Learn from our experienced instructors and get a Guaranteed Jobs/Internships | Know More -></p>
    </div>
    <div class="landing-section">
        <div class="content-left">
            <h1 id="h12">Get quality <span id="sp1">Internships & Jobs</span> in 3 steps</h1>
            <h2>The #1 way college students & early graduates get Internships, Jobs</h2>
            <button id="btn3" onclick="clickboo()">Get Started ➡️</button>
        </div>
        <div class="content-right">
            <video src="Assets\Cuvette Tech - Get started on your career journey in software development.mp4" controls></video>
        </div>
    </div>
    <script src="index.js"></script>
  </body>
  
</html>